<form [formGroup]="newPosts" (ngSubmit)="onSubmit()">
    <label>
        <input formControlName="titulo" type="text" placeholder="titulo">
        <input formControlName="texto" type="text" placeholder="texto">
        <input formControlName="autor" type="text" placeholder="autor">
        <input formControlName="imagen" type="text" placeholder="imagen">
        <input formControlName="fecha" type="date" placeholder="fecha">
        <input formControlName="categoria" type="text" placeholder="categoria">
    </label>
    <button type="submit">Enviar Post</button>
</form>
{{newPosts.value | json}}